<html>  
   <body>  
      <form action = "" method = "post">  
         <table>  
        <tr><td>transakcija</td>  
        <td><input type ="text" name ="transakcija"></td></tr>  
		
		<tr><td>vrsta</td>  
        <td><input type ="text" name ="vrsta"></td></tr>  
		
		<tr><td>cenaNek</td>  
        <td><input type ="float" name ="cenaNek"></td></tr>  
		
		<tr><td>kvadratura</td>  
        <td><input type ="float" name ="kvadratura"></td></tr>  
		
		<tr><td>grad</td>  
        <td><input type ="text" name ="grad"></td></tr>  
		
		
        <tr><td>naselje</td>  
        <td><input type ="text" name ="naselje"></td></tr>  
		
		
		
		
        <tr><td><input type = "submit"></td></tr>  
    </table>  
      </form>  
   </body>  
</html>  
