<html>  
   <body>  
      <form action = "" method = "patch">  
         <table>  

        <tr><td>Transakcija:</td>  
        <td><input type ="text" name ="transakcija"></td></tr>  
		
		<tr><td>Vrsta nekretnine:</td>  
        <td><input type ="text" name ="vrsta"></td></tr>  
		
		<tr><td>Cena nekretnine:</td>  
        <td><input type ="float" name ="cenaNek"></td></tr>  
		
		<tr><td>Kvadratura nekretnine</td>  
        <td><input type ="float" name ="kvadratura"></td></tr>  
		
		<tr><td>Grad:</td>  
        <td><input type ="text" name ="grad"></td></tr>  
		
		
        <tr><td>Naselje:</td>  
        <td><input type ="text" name ="naselje"></td></tr>  
		
		
		
		
        <tr><td><input type = "submit"></td></tr>  
    </table>  
      </form>  
   </body>  
</html>  
